---
import Layout from "~/layouts/Layout.astro";
import { Text } from "~/components/ui/text";
import { Button } from "~/components/ui/button";
import { Heading } from "~/components/ui/heading";
import { Tabs } from "~/components/ui/tabs";
import "~/index.css";
import { STRATA_URL } from "~/constants";
---

<Layout>
    <Heading>Hello</Heading>
    <a href={STRATA_URL}><Button>Click me</Button></a>
    <Tabs />
</Layout>
